<!-- 
    Template page
    Things within {% block variable %} Default value {% endblock %} can be overridden / filled in
     by the child template that extends
 -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        {% block stylesheet %}

        <!-- Bootstrap CSS -->
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
            crossorigin="anonymous"
        />
        <!--My Stylesheet-->
        <link
            rel="stylesheet"
            type="text/css"
            href="{{ url_for('static',filename='styles/styles.css') }}"
            media="screen"
        />

        {% endblock %}

        <title>{% block title %}DEFAULT TITLE{% endblock %}</title>
    </head>

    <body>
        {% block header %} {% block navbar %}
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="{{url_for('home')}}">HWP</a>
            <button
                class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation"
            >
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    <li
                        class="{{ 'active nav-item' if active_page == 'students' else 'nav-item' }}"
                    >
                        <a class="nav-link" href="{{url_for('show_students')}}"
                            >Students <span class="sr-only">(current)</span></a
                        >
                    </li>
                    <li
                        class="{{ 'active nav-item' if active_page == 'houses' else 'nav-item' }}"
                    >
                        <a class="nav-link" href="{{url_for('show_houses')}}"
                            >Houses</a
                        >
                    </li>
                    <li
                        class="{{ 'active nav-item' if active_page == 'professors' else 'nav-item' }}"
                    >
                        <a
                            class="nav-link"
                            href="{{url_for('show_professors')}}"
                            >Professors</a
                        >
                    </li>
                    <li
                        class="{{ 'active nav-item' if active_page == 'classes' else 'nav-item' }}"
                    >
                        <a class="nav-link" href="{{url_for('show_classes')}}"
                            >Classes</a
                        >
                    </li>
                    <li
                        class="{{ 'active nav-item' if active_page == 'registrations' else 'nav-item' }}"
                    >
                        <a
                            class="nav-link"
                            href="{{url_for('show_registrations')}}"
                            >Registrations</a
                        >
                    </li>
                </ul>
            </div>
        </nav>
        {% endblock %}

        
        <h1 class="display-4">
            <center>{% block pageheader %}{% endblock %}</center>
        </h1>
        {% endblock %}


        <div id="content">{% block content %} {% endblock %}</div>
        <div id="footer">{% block footer %}{% endblock %}</div>

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script
            src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"
        ></script>
        {% block additionalscripts %} {% endblock %}
    </body>
</html>
