{% extends 'base.html' %}
{% block title %}Classes{% endblock%}
{% block pageheader %}Classes Page{% endblock %}
{% block content %}
<form action='/classes' method="post" class=addform>
   <fieldset>
      <legend>Add New Course Entry</legend>

      <fieldset>
         <label>*Class Name:
            <input type="text" name="name" size="30" maxlength="100" required>
         </label>
         <br />
      </fieldset>
      <br />

      <fieldset>
         <label>*Class Credits:
            <input type="number" name="credit" size="30" maxlength="100" required>
         </label>
         <br />
      </fieldset>
      <br />
      <fieldset>
         <label for="professor_id">*Professor:</label>
         <select id="professor_id" name="professor_id" required>
            <option value="" disabled selected>(Select Professor)</option>
            {% if professors %}
            {% for professor in professors%}
            <option value={{professor.id}}>{{professor.first_name}} {{professor.last_name}}</option>
            {% endfor %}
            {% else %}
            <option selected disabled value="">No Professors Available</option>
            {% endif %}
         </select>
      </fieldset>
      <p> <i>* Indicates a Required Field </i> </p>
      <input type="hidden" value="add" name="post_type">
      <input type="submit" value="Submit">
   </fieldset>
</form>
<br />



<!-- Table populated from database using SELECT -->
<table>
   <caption></caption>
   <thead>
      <tr>
         <th><b>Class ID</b></th>
         <th><b>Class Name</b></th>
         <th><b>Credits</b></th>
         <th><b>Professor</b></th>
         <th colspan="2"><b>Modify</b></th>
      </tr>
   </thead>
   <tbody>
      {% for course in courses %}
      <tr>
         <td>{{ course.id }}</td>
         <td>{{ course.name }}</td>
         <td>{{ course.credit }}</td>
         <td>{{ course_professors.pop(0) }}</td>
         <td><button onclick=window.location.href="/update-class/{{ course.id }}">Update</button></td>
         <td>
            <form action="/classes" method="post">
               <input type="hidden" value={{course.id}} name="delete_id">
               <input type="hidden" value="delete" name="post_type">
               <input type="submit" value="Delete" />
            </form>
         </td>
      </tr>
      {% endfor %}

   </tbody>
</table>
{% endblock %}