{% extends 'base.html' %}
{% block pageheader %}Classes Page{% endblock %}

{% block content %}
   <form action = '/Classes' method = "post" class = addform>
      <fieldset>
         <legend>Add New Course Entry</legend>
   
         <fieldset>
            <label>*Class Title:
               <input type="text" name="class_title_input" size="30" maxlength="100" required>
            </label>
            <br />
         </fieldset>
         <br />
   
         <fieldset>
            <label>*Class Credits:
               <input type="number" name="class_credits_input" size="30" maxlength="100" required>
            </label>
            <br />
         </fieldset>
         <br />
         <fieldset>
            <label>*Professor ID:
               <input type="number" name="class_professor_input" size="30" maxlength="100" required>
            </label>
            <br />
         </fieldset>
         <br />
         <p> <i>* Indicates a Required Field </i> </p>
         <input type="hidden" value="add" name="post_type" >
         <input type = "submit" value = "Submit">
      </fieldset>
   </form>
   <br/>
   


   <!-- Table populated from database using SELECT -->
   <table>
      <caption></caption>
      <thead>
         <tr>
            <th><b>Class ID</b></th>
            <th><b>Class Name</b></th>
            <th><b>Credits</b></th>
            <th><b>Professor</b></th>
            <th colspan="2"><b>Modify</b></th>
         </tr>
      </thead>
      <tbody>
         {% for r in rows %}
         <tr>
            <td>{{ r[0] }}</td>
            <td>{{ r[1] }}</td>
            <td>{{ r[2] }}</td>
            <td>{{ r[3] }}</td>
            <td><button onclick= window.location.href="/update_classes/{{ r[0] }}">Update</button></td>
            <td>
               <form action="/Classes" method="post">       
                  <input type="hidden" value={{r[0]}} name="entry_id" >    
                  <input type="hidden" value="delete" name="post_type" >
                  <input type="submit" value="Delete" />
               </form>
            </td>
         </tr>
         {% endfor %}  
   
      </tbody>
   </table>
{% endblock %}