{% extends 'base.html' %} {% set active_page = 'classes' %} {% block title
%}Classes{% endblock%} {% block pageheader %}Classes Page{% endblock %} {% block
content %}
<div class="row justify-content-center my-2">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h3 class="mb-0">Add a Class</h3>
            </div>
            <div class="card-body">
                <form action="/classes" method="post" class="addform">
                    <div class="form-group">
                        <label for="">Class Name</label>
                        <input
                            class="form-control"
                            type="text"
                            name="name"
                            required
                        />
                    </div>
                    <div class="form-group">
                        <label for="">Class Credits</label>
                        <input
                            class="form-control"
                            type="number"
                            name="credit"
                            required
                        />
                    </div>
                    <div class="form-group">
                        <label for="professor_id">Professor:</label>
                        <select
                            class="form-control"
                            id="professor_id"
                            name="professor_id"
                            required
                        >
                            <option value="" disabled selected
                                >(Select Professor)</option
                            >
                            {% if professors %} {% for professor in professors%}
                            <option value="{{professor.id}}"
                                >{{professor.first_name}}
                                {{professor.last_name}}</option
                            >
                            {% endfor %} {% else %}
                            <option selected disabled value=""
                                >No Professors Available</option
                            >
                            {% endif %}
                        </select>
                    </div>
                    <input type="hidden" value="add" name="post_type" />
                    <button
                        type="submit"
                        class="btn btn-success btn-lg float-right"
                    >
                        Submit
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Table populated from database using SELECT -->
<div class="row justify-content-center mt-5">
    <div class="col-md-10">
        <table class="table table-hover">
            <thead class="thead-dark">
                <tr>
                    <th>Class ID</th>
                    <th>Class Name</th>
                    <th>Credits</th>
                    <th>Professor</th>
                    <th  colspan="2"></th>
                </tr>
            </thead>
            <tbody>
                {% for course in courses %}
                <tr>
                    <td>{{ course.id }}</td>
                    <td>{{ course.name }}</td>
                    <td>{{ course.credit }}</td>
                    <td>{{ course_professors.pop(0) }}</td>
                    <td>
                        <button
                            class="btn btn-secondary"
                            onclick="window.location.href='/update-class/{{ course.id }}';"
                        >
                            Update
                        </button>
                    </td>
                    <td>
                        <form action="/classes" method="post">
                            <input
                                type="hidden"
                                value="{{course.id}}"
                                name="delete_id"
                            />
                            <input
                                type="hidden"
                                value="delete"
                                name="post_type"
                            />
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
