{% extends 'base.html' %} {% set active_page = 'home' %} {% block title %}Home
{% endblock %} {% block content %}
<div class="container">
    <div class="jumbotron my-4">
        <h1 class="display-4 text-center">Wizarding Admin Portal</h1>
        <p class="lead">
            Welcome to the Wizarding Admin Portal. With this application you may handle the data of faculty, students, and class registrations.
        </p>
        <hr class="my-4" />
        <p>
            It uses utility classes for typography and spacing to space content
            out within the larger container.
        </p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" href="#" role="button"
                >Learn more</a
            >
        </p>
    </div>
</div>

{% endblock %}
