{% extends 'base.html' %}
{% block title %} SAMPLE PAGE {% endblock %}
{% block pageheader %} SAMPLE TESTING PAGE {%endblock%}

{%block content%}

<main>
    <h1>content header</h1>
    <p>names (passed object)</p>
    <p>{{names}}</p>
    
    <p>names[0] or names.0 (indexing)</p>
    <p>{{names.0}}</p>
    
    <!-- for loop -->
    <p>for name in names</p>
    <p>name</p>
    <ol>
        {%for name in names %}
        <li>{{name}}</li>
        {%endfor%}
    </ol>

    <!-- conditional -->
    <p>if 'alice in names '</p>
    <p style="margin-left: 2em;">statement;</p>
    <p>endif</p>
    <p></p>
    {% if 'alice' in names %}
    <p>Alice is here!</p>
    {%endif%}
</main>

{%endblock%}