{% extends 'base.html' %}
{% block title %}Update House{% endblock%}
{% block pageheader %} Update House {% endblock %}
{%block content%}

<body>
    <form class="edit" action='/update-house/{{ house.id }}' method="post">
        <fieldset>
            <legend>Update House Data</legend>

            <fieldset>
                <legend>Add New House</legend>

                <fieldset>
                    <label>*House Name:
                        <input type="text" name="name" value={{house.name}} size="30" maxlength="100" required>
                    </label>
                    <br />
                </fieldset>
                <br />

                <fieldset>
                    <label>*House Mascot:
                        <input type="text" name="mascot" value = {{house.mascot}} size="30" maxlength="100" required>
                    </label>
                    <br />
                </fieldset>
                <br />
                <fieldset>
                    <label>*House Founder:
                        <input type="text" name="founder" value={{house.founder}} size="30" maxlength="100" required>
                    </label>
                    <br />
                </fieldset>
                <br />
                <fieldset>
                    <label>*House Head:
                        <input type="text" name="head" value={{house.head}} size="30" maxlength="100" required>
                    </label>
                    <br />
                </fieldset>
                <br />
                <p> <i>* Indicates a Required Field </i> </p>
                <input type="submit" value="Submit">
            </fieldset>
    </form>
    {% endblock %}