{% extends 'base.html' %}
{% block title %}Update Professor{% endblock%}
{% block pageheader %} Update Professor {% endblock %}
{%block content%}
<form class="edit" action='/update-professor/{{ professor.id }}' method="post">
   <fieldset>
      <legend>Update Professor Data</legend>
      <fieldset>
         <label>*First Name:
            <input type="text" name="first_name" size="30" maxlength="100" value='{{ professor.first_name }}' required>
         </label>
         <br />
      </fieldset>
      <br />
      <fieldset>
         <label>*Last Name:
            <input type="text" name="last_name" size="30" maxlength="100" value='{{ professor.last_name}}' required>
         </label>
         <br />
      </fieldset>
      <br />
      <fieldset>
         <label for="house">House:</label>
         <select id="house" name="house_id" required>
            {% if houses %}
            {% for house in houses%}
            {% if house.id == professor.house_id %}
            <option selected value={{house.id}}>{{house.name}}</option>
            {% else %}
            <option value={{house.id}}>{{house.name}}</option>
            {% endif %}


            {% endfor %}
            {% else %}
            <option disabled value="">No Houses Available</option>
            {% endif %}
         </select>
      </fieldset>
      <br />
      <button type="submit" value="Submit">Submit</button>
   </fieldset>
</form>
{% endblock %}